/* Login */
body {
  background-image: url(../images/japandi-living-room-interior-design.jpg);
  background-position-y: -25rem;
  background-size: cover;
  background-repeat: no-repeat;
}


.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 30px 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(58, 58, 58, 0.9);
}

.login h1 {
  text-align: center;
  padding: 20px ;
  border-bottom: 1px solid aliceblue;
  color: var(--primary-color);
}
.login i{
  font-size: 4rem;
}
.login form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt-filed {
  position: relative;
  margin: 30px 0px;
}

.txt-filed input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid aliceblue;
  color: aliceblue;
  width: 100%;
  padding: 0px 5px;
  margin: 6px 0;
  height: 30px;
  font-size: 16px;
  background: none;
  outline: none;
}
.txt-filed .invalid {
  background-color: var(--primary-color);
}

.txt-filed label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: aliceblue;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s linear;
}
.txt-filed span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--primary-color);
  transition: 0.5s linear;
}

.txt-filed input:focus ~ label,
.txt-filed input:valid ~ label {
  top: -5px;
  color: var(--primary-color);
}
.txt-filed input:focus ~ span::before,
.txt-filed input:invalid ~ span::before {
  width: 100%;
}
.txt-filed i{
  font-size: 1.2rem;
}
.link-pass a {
  text-decoration: none;
  color: aliceblue;
}
.pass {
  margin: -5px 0px 20px 5px;
  cursor: pointer;
  color: aliceblue;
  font-size: 1.4rem;
}

.pass:hover {
  text-decoration: underline;
}

.btn-login {
  width: 100%;
  height: 50px;
  border: none;
  background: var(--primary-color);
  border-radius: 25px;
  font-size: 18px;
  color: #141614;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  transition: 0.5 linear;
}
.btn-login a {
  text-decoration: none;
  color: #141614;
}
.btn-login a:hover {
  border-color: var(--primary-color);
  color: aliceblue;
}

.signup-link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: aliceblue;
}

.signup-link a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.6rem;
}

.signup-link a:hover {
  text-decoration: underline;
}

.eye {
  position: absolute;
  top: 40%;
  right: 5px;
  cursor: pointer;
  color: aliceblue;
  transition: 0.2s linear;
}
.eye:hover {
  color: var(--primary-color);
}
.hidden {
  display: none !important;
}
button a{
  font-size: 1.9rem;
  color: var(--third-color);
}
/* Clock Canvas */
.container-canvas {
  display: flex;
}

.fa-user ,.fa-key,.fa-circle-user{
  color: var(--primary-color);
}

/* Validate */
.form-message {
  font-size: 1.2rem;
    line-height: 1rem;
    padding: 4px 0 0;
    color: #f33a58;
    font-weight: bold;
}